<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/event.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/event.js"></script>

    <title>Event</title>
</head>

<body>
    <div class="main">
        <header>
            <div class="headerUnit">
                <a href="/">
                    <h1>Clubs</h1>
                </a>
            </div>

            <div class="headerUnit">
                <h1 class="longTitle">Upcoming Events</h1>
            </div>
            <div id="divImg">
                <img src="../images/heart calendar.png">
            </div>
        </header>
        <h2>1/20-1/27</h2>

        <section>
            <div class="sectionUnit">
                <h3 class="date">1/21</h3>
                <h2 class="event-name">GBM #1</h2>
                <p class="org">Design Co</p>
                <p>Cognitive Science Building</p>
            </div>
            <div class="sectionUnit2">
                <img src="../images/heart_outline.png"id="clickHeart" onclick="clickHeart();"/>
            </div>
        </section>
        <section>
            <div class="sectionUnit">
                <h3 class="date">1/21</h3>
                <h2 class="event-name">GBM #1</h2>
                <p class="org">Design Co</p>
                <p>Cognitive Science Building</p>
            </div>
            <div class="sectionUnit2">
                <img src="../images/heart_outline.png" id="clickHeart" onclick="clickHeart();"/>
            </div>
        </section>
        <section>
            <div class="sectionUnit">
                <h3 class="date">1/21</h3>
                <h2 class="event-name">GBM #1</h2>
                <p class="org">Design Co</p>
                <p>Cognitive Science Building</p>
            </div>
            <div class="sectionUnit2">
                <img src="../images/heart_outline.png" id="clickHeart" onclick="clickHeart();"/>
            </div>
        </section>
        <h2>1/28 - 2/5</h2>

    </div>
</body>

</html>