<html>

<head>
	<title>hApp</title>

	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/bootstrap-material-design/dist/css/bootstrap-material-design.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/eventCreation.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/button-theme.css">
</head>

<body class="bg-light">
	{{!-- Begin here (or replace this with any static code already written). --}}



	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-header">
			<a href="/home" href="#">
				<button type="button" class="btn btn-lg left btn-header">
					<img src="/static/icons/home.svg" height="30"/>
				</button></a>
			<a class="navbar-brand center" href="#"><h3>hApp</h3></a>
		
		</div>
	</nav>

	<div class="container" style="text-align:center; padding-top:calc(40vh - 250px)">
		<div style="width:90%; margin:auto;">
			<form>
				<div class="row" style="margin:auto;">
					<div style="width:calc(50% - 97.4px); text-align: right; padding:0.5%;"></div>
					<strong style="line-height:2em">Pin Name</strong>
				</div>
				<div class="row" style="margin:auto;">
					<div style="width:calc(50% - 97.4px); text-align: right; padding:0.5%;"></div>
					<input type="text" name="firstname" style="width:194.8px;">
				</div>

				<div class="row" style="padding-top:25px; margin:auto;">
					<div style="width:calc(50% - 97.4px); text-align: right; padding:0.5%;"></div>
					<strong>Time</strong>
				</div>
				<div class="row" style="margin:auto;">
					<div style="width:calc(50% - 97.4px + 42.02px); text-align: right; padding:0.5%;">
						<strong>From:</strong>					
					</div>
					<div style="text-align: left; padding:0.5%;">
						<input id="startTime" type="time" value={{currentTime}} size=20>
					</div>
				</div>
				<div class="row" style="margin:auto;">
					<div style="width:calc(50% - 97.4px + 42.02px); text-align: right; padding:0.5%;">
						<strong>To:</strong>
					</div>
					<div style="width:50%; text-align: left; padding:0.5%;">
						<input id="endTime" type="time" value={{nextTime}}>			
					</div>
				</div>

				<div class="row" style="padding-top: 25px; margin:auto;">
					<div style="width:calc(50% - 97.4px); text-align: right; padding:0.5%;"></div>
					<strong>Description</strong>
				</div>
				<div class="row" style="margin:auto;">
					<div style="width:calc(50% - 97.4px); text-align: right; padding:0.5%;"></div>
					<textarea name="upload_description" id="description_textbox"></textarea>
				</div>

				<div class="row" style="padding-top: 25px; margin:auto;">
					<a href="/wip" style="margin:auto;">
						<button type="button" class="btn btn-lg" style="margin-bottom: 0;">
							<img src="/static/icons/add-square-button.svg" height="35"/>
						</button>
					</a>
				</div>
				<div class="row" style="margin:auto;">
					<strong style="line-height:2em;margin:auto;">Upload Photo</strong>
				</div>

				<div class="row" style="padding-top:25px">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<a href="/eventCreationDetails"><button type="button" id="nxt_btn" class="btn btn-lg btn-primary active btn-login">NEXT</button></a>
					</div>
				</div>
			</form>
		</div>
	</div>
	

	<script src="/scripts/jquery/dist/jquery.js"></script>
	<script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/scripts/popper.js/dist/umd/popper.js"></script>
	<script src="/scripts/bootstrap-material-design/dist/js/bootstrap-material-design.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/eventCreationSaving.js"></script>
</body>

</html>