<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bubble T</title>
	<link rel="stylesheet" type="text/css" href="css/filters.css">
</head>
<body>
	<div class="theader">
	  <img src="images/logo.svg"/>
		<form class="search-form">
		  <input type="search" value="" placeholder="search drink" class="search-input">
      <a class="filter-button" href="/">
        <img src="images/nav.svg">
      </a>
		</form>
  </div>
  <div class="filters">
    <div class="center">
      <h1 class="header"> Build your boba </h1>
      <hr>
      <h3 class="subheading">Type</h3>
      <div class="checkboxes">
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Tea</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Hot</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Coffee</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Cold</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Smoothie</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Soda</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Slushie</span>
        </label>
      </div>
      <h3 class="subheading">Flavor</h3>
      <div class="checkboxes">
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Milky</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Nutty</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Fruity</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Yogurt</span>
        </label>
      </div>
      <h3 class="subheading">Speciality</h3>
      <div class="checkboxes">
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Vegan</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Nut-free</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Lactose-free</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Alcoholic</span>
        </label>
        <label class="container">
          <input type="checkbox">
          <span class="checkmark">Fruit-free</span>
        </label>
      </div>
      <button>filter</button>
    </div>
  </div>
</body>
</html>
