<!DOCTYPE html>

<html>

<head>

  <head>
    <title>COGS 120 - A5 Screen 1</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
</head>

<body>

  <div class="main">

    <header>
      <div class="headerUnit">
        <h1>Clubs</h1>
      </div>
      <div class="headerUnit">
        <a href="/event">
          <h1 class="longTitle">Upcoming Events</h1>
        </a>
      </div>
      <div id="divImg">
        <img src="../images/heart calendar.png">
      </div>
    </header>

    <div id="formInput">
      <div id="box1">
        <form>
          <input type="text" id="keyword" name="keyword"><br>
        </form>
      </div>
      <div id="box2">
        <img src="../images/filter.png">
      </div>
    </div>

      {{#each club}}
        <section>
          <a href="/club">
            <div class="sectionUnit" id="{{id}}">
              <h2>{{name}}</h2>
              <p>{{description}}</p>
            </div>
          </a>
          <div class="sectionUnit2">
            <img src="../images/heart_outline.png">
          </div>
        </section>
      {{/each}}

    <!--  <section>
        <div class="sectionUnit">
          <h2>Design Co.</h2>
          <p>pre-professional design org</p>
        </div>
        <div class="sectionUnit2">
          <img src="../images/heart_outline.png">
        </div>
      </section>
>>>>>>> 2a55509876d08b823d3b5fb190dc6a1837b60fde

    <section>
      <div class="sectionUnit">
        <h2>Design Co.</h2>
        <p>pre-professional design org</p>
      </div>
      <div class="sectionUnit2">
        <img src="../images/heart_outline.png">
      </div>
    </section>

    <section>
      <div class="sectionUnit">
        <h2>arch@UCSD</h2>
        <p>CMAA org promoting architecture</p>
      </div>
      <div class="sectionUnit2">
        <img src="../images/heart_outline.png">
      </div>
    </section>

    <section>
      <div class="sectionUnit">
        <h2>KASA</h2>
        <p>Korean-American social club</p>
      </div>
      <div class="sectionUnit2">
        <img src="../images/heart_outline.png">
      </div>
    </section>


    <section>
      <a href="/club">
        <div class="sectionUnit">
          <h2>VSA</h2>
          <p>Promoting Vietnamese culture</p>
        </div>
      </a>
      <div class="sectionUnit2">
        <img src="../images/heart_outline.png">
      </div>
    </section>

    <section>
      <div class="sectionUnit">
        <h2>CASA</h2>
        <p>Chinese-American social club</p>
      </div>
      <div class="sectionUnit2">
        <img src="../images/heart_outline.png">
      </div>
    </section>

  </div>

</body>


</html>
