<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bubble T</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
	<div class="theader">
	  <img src="images/logo.svg"/>
		<form class="search-form">
		  <input type="search" value="" placeholder="search drink" class="search-input">
		</form>
  </div>
	<h1 class="header">Favorites <img src="images/star.svg"></h1>
	<div class="boba">
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
	</div>
	<h1 class="header">Top Drinks</h1>
	<div class="boba">
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
	</div>
	<h1 class="header">All Drinks</h1>
	<div class="boba">
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
		<img src="images/boba-placeholder.svg"/>
	</div>


</body>
</html>
