<!DOCTYPE html>

<html>

  <head>
    <head>
      <title>COGS 120 - A5 Screen 1</title>
      <link rel="stylesheet" type="text/css" href="../css/login.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  </head>

  <body>
    <div class="main">

      <h1>What's your .edu email?</h1>

      <form>
         <input type="text" id="keyword" name="keyword" placeholder="Enter your school's email here">
      </form>

      <a href="/">
        <div class="button">
            <p>Enter</p>
        </div>
      </a>

    </div>
  </body>

</html>
