<html>

<head>
	<title>EasyCook</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>

<body>
    <div id="landing-header">
    	<h1>Sign Up</h1>
    	<div class="container">

    		<div class="content">
    	
		<form action="/login" method="POST" class="form-inline">
			<div class="form-group">
		    	<label class="sr-only" for="exampleInputEmail3">Email address</label>
		    	<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
		  	</div>
		  	<div class="form-group">
		    	<label class="sr-only" for="exampleInputPassword3">Password</label>
		    	<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
		  	</div>
		  	<div class="checkbox">
		    	<label>
		      	<input type="checkbox"> Remember me
		    	</label>
		  	</div>
		  	<button type="submit" class="btn btn-success">Sign Up</button>
		</form>
	</div>	</div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</body>
</html>