body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

section {
  display: flex;
  width: 80%;
  border: 1px solid;
  height: 15%;
  margin: auto;
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 505px;
  height: 850px;
  background-color: white;
}
h2 {
  margin-bottom: 5px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}


header {
  display: flex;
  width: 100%;
  height: 10%;
  border-bottom: solid 1px;
}

.headerUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  width: 33%;
  border-right-style: solid;
  border-right-width: 1px;
}

#divImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20%;
}

.longTitle {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

.sectionUnit {
  margin: auto;
  width: 70%;
}

.sectionUnit2 {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.org {
  margin-top: 0;
  font-size: 18px;
  font-style: italic;
}
.date {
  margin: auto;
}
.event-name {
  margin-top: auto;
}
