.toolbar{
    display: inline;
}
.toolbar .toolbar-back{
    float: left;
    padding-left: 20px;
}
.toolbar .toolbar-title{
    float: left;
    padding-left: 20px;
    max-width: 60%;
}
.toolbar .toolbar-btn{
    float: right;
    padding-right: 20px;
}

.page-title{
    margin-top: 0px;
}