body {
  margin: 0;
}

.theader {
  background-color: #AAAAAA;
  padding: 5% 10% 10% 10%;
  text-align: center;
  max-width: 100vw;
}

.theader img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 8rem;
}

.search-form {
  background: #fff;
  border-radius: 10px;
  height: 50px;
  position: relative;
  width: 100%;
}

.search-input {
  appearance: none;
  background: none;
  border: none;
  color: #333333;
  font-size: 14px;
  height: 20px;
  left: 10%;
  outline: none;
  position: absolute;
  top: 15px;
  width: 80%;
}

.filter-button {
  position: absolute;
  padding: 15px 0;
  right: 20px;
}

.filter-button > img {
  max-height: 20px;
}

.header {
  text-align: center;
}

.boba {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
  width: 80%;
}

.boba img {
  width: 30%;
}
