@media (min-width: 768px){
    .container {
        width: 100%;
    }
}
#defaultProfile{
    font-size:50px;
    color: white;
}

#fbProfilePic {
    border-radius: 25px;

}
. glyphicon-user{
    top: 18px;
}
body{
    background-image: url('../img/chore_back.png');
}
#title {
    color: white;
    padding: 0 3% 0 0;
}
.doneGray{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #efd686;
    color: white;
}

.doneGray .done {
    width: 100%;
    margin-bottom: 0px;
    text-align: left;
}
.doneGray .des{
    width: 100%;
}

.navbar{
    margin-bottom: 20px;
    text-align:center;
    list-style-type: none;
}
.nav{
    text-align: center;
}

.nav_icon{
    margin-top: 20px;
    text-align: center;
}
.nav_bar{
    width:100%;
    position:relative;
    left:15px;
}
.nav_chore{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav_expense{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chore_rows{
    color: black;
}


#choresBtn {
    display:inline-block;
    background-color: white;
    color: black;
/*
    border-style: solid;
    border-color: white;
    border-width:2px;
*/
   border-radius: 5px;
   width: 100%;
}

#expensesBtn {
    display:inline-block;
    background-color: white;
    color: black;

    /*border-style: solid;
    border-color: black;
    border-width:2px;
*/
    border-radius:25px;
    border-radius: 5px;
    width: 100%;
}

.done{
    text-align:right;
    position:relative;
    top:15px;
}
.expand{
    position: relative;
    left: 15%;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.chore img, .expense img{
    width:50%;
    position: relative;
    left: 25%;
}
.chore_content, .expense_content{
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #efbd0a;
}
.chore_content h3, .chore_content p, .expense_content h3, .expense_content p{
    color: white;
}

.chore_content_alt h3, .doneGray_alt h3{
    height: 50px;
    overflow: scroll;
}
.chore_content_alt p, .doneGray_alt p{
    height: 60px;
    overflow: scroll;
}
.chore_content_alt{
    //height: 220px;
}
.doneGray_alt{
    //height: 220px;
}

.card{
    margin: 10 0 10 0;
}
.doneBtn{
    font-size: 100%;
    background-color: #DB3549;
    border-radius: 0px;
    border: none;
}


.boughtBtn{
    text-align: center;
    //padding-right: 3%;
    text-align: center;
    position:relative;
    //left: -15px;
    font-size: 100%;
    background-color: #DB3549;
}

#submitBtn{
    width: 96%;
    left: 1%;
    text-align: center;
    bottom: 2%;
    left: 2%;
    font-size: 20px;
    background-color: #2F80ED;
    border-radius: 0px;
    /*
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 2%;
    left: 0%;
*/
}
.expense_content{
    background-color: #65AD3B;;
}

.add {
    text-align: center;
}
.doneGray .doneBtn{
    background-color: #2F80ED;
}
.chore_content .doneBtn{
    background-color: #DB3549;
    color: white;
}
/*
.chores{
    background-color: #3e3d3dfc;
    color: white;
}
*/
