body{
	background-image: url("../img/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#tile{
	opacity: 9;
	text-align: center;
	margin: 61% 17% 0% 12%;
}
legend{
	size: 43px;
	color: white;
	position: center;
	text-align: center;
}
.imgcontainer img{
	max-width: 15px;
	max-height: 15px;
}
.loginBtn{
	color: black;
}
 #LoginTitle {
 	color: white;
 }

 input{
 	color: black;
 }
  #rememberId{
  	color: white;
  }