.homepage {
  .home-header {
    background-color: #A2D3C7;
    height: 30vh;
    text-align: left;
  }

  h2 {
    font-size: 2.4rem;
    margin-left: 20px;
  }

  .carousel-button {
    background-color: #37826F;
    border-radius: 20px;
    color: white;
    margin-left: 30vw;
    position: absolute;
    top: calc(70vw + 35vh + 20px);
    width: 40vw;
  }

  .all-button {
    background-color: #37826F;
    border-radius: 20px;
    color: white;
    margin-left: 30vw;
    position: absolute;
    bottom: 5vh;
    width: 40vw;
  }

  .search-form {
    margin: 0 20vw;
  }
}
