.login-page {
  align-items: center;
  background-color: #91E6CF;
  display: flex;
  flex-wrap: wrap;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  .login-form {

    .button {
      width: 40vw;
    }

    .form-input {
      height: 5vh;
      width: 50vw;
    }
  }
}
