.boba-carousel {

  .ant-carousel {
    .slick-slider {
      height: 70vh;
    }
  }

  .carousel-item {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    width: 70vw !important;
    padding: auto;

    .carousel-drink {
      height: 70vw;
      width: 70vw;
    }

    h1 {
      text-align: center;
    }
  }

  .slick-dots {
    position: absolute;
    top: calc(100vw);
  }

  li {
    background-color: #A2D3C7;
    border-radius: 50%;
    opacity: 50%;
    height: 20px;
    width: 20px;

    button {
      background-color: #A2D3C7 !important;
      border-radius: 50% !important;
      height: 20px !important;
      width: 20px !important;
    }
  }

  .slick-active {
    opacity: 1 !important;
  }
}

.slick-list{padding:0 20% 0 0;}
