.menupage {
  font-family: 'DM Sans', sans-serif;

  .content {
    margin-top: 5vh;
    padding: 0 5vw;
    text-align: center;

    h1 {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .top-button {
    background-color: #37826F;
    border-radius: 20px;
    color: white;
    margin-left: 30vw;
    position: absolute;
    bottom: 2vh;
    width: 40vw;
    text-align: center;
    left: 0;
  }
}
