.custom-drink {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 200;

  .custom-drink-cup {
    position: absolute;
    top: 20vh;
    height: 45vw;
    width: 36vw;

    .sugar-layer {
      border: 0.14vw solid #000000;
      height: 50%;
    }

    .tea-layer {
      border: 0.14vw solid #000000;
      height: 30%;
    }

    .milk-layer {
      background-color: #EEEEEE;
      border: 0.14vw solid #000000;
      border-radius: 0 0 50px 50px;
      height: 20%;
    }
  }

  .slider {
    position: absolute;
    top: calc(20vh - 14px);
    right: 10vw;
    height: 45vw !important;

    .ant-slider-handle::after {
      content: "";
      width: 70vw;
      border: solid 0.28vw black;
      background-color: black;
      position: absolute;
      left: -70vw;
      top: 50%;
      z-index: 1;
    }
  }

  .inputs {
    position: relative;
    top: calc(45vw + 50px);

    .input {
      align-items: center;
      display: flex;

      h1 {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  .information {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5vh;

    .info-container {

      .info {
        align-items: center;
        display: flex;
        justify-content: center;
        background: #DDDDDD;
        border-radius: 10px;
        height: 50px;
        margin: 0 10px;
        width: 50px;
      }
    }
    p {
      margin: 0;
    }
  }
}
